/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

.col-h-1{grid-row: span 1 / span 1;}
.col-h-2{grid-row: span 2 / span 2;}
.col-h-3{grid-row: span 3 / span 3;}
.col-h-4{grid-row: span 4 / span 4;}
.col-h-5{grid-row: span 5 / span 5;}
.col-h-6{grid-row: span 6 / span 6;}

.col-w-1{grid-column: span 1 / span 1;}
.col-w-2{grid-column: span 2 / span 2;}
.col-w-3{grid-column: span 3 / span 3;}
.col-w-4{grid-column: span 4 / span 4;}
.col-w-5{grid-column: span 5 / span 5;}
.col-w-6{grid-column: span 6 / span 6;}

/* Typography */
body {
    font-family: "Poppins", sans-serif;
}

.featured-text { font-family: "Righteous", sans-serif; }
.accent-text { font-family: "Modak", serif;}

.fun-text-shadow-red {
    text-shadow: 
        #d16345 -5px 5px,
        #d67459 -10px 10px, 
        #db856e -15px 15px
}

.fun-text-shadow-blue {
    text-shadow: 
        #4a7285 5px 5px,
        #538096 10px 10px, 
        #5d8ea5 15px 15px
}

/* Shadow classes */

.card-shadow {
    box-shadow: var(--featured-color-red) 10px 10px;
    transition: all;
}

.card-shadow:hover {
    box-shadow: var(--featured-color-red) 15px 15px;
}

/* Reuseable Button Styles */
.button-shadow {
    box-shadow: var(--featured-color-red) 3px 3px;
    transition: all 150ms;
    display: inline-block;
    font-family: "Righteous", sans-serif;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--featured-color-red);
}

.button-shadow:hover {
    background-color: var(--featured-color-red);
    color: var(--base-color);
    border: 3px 3px;
}

.button {
    font-family: "Righteous", sans-serif;
    color: var(--featured-color-red);
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--featured-color-red);
    border-bottom: 4px solid var(--featured-color-red);
    border-right: 4px solid var(--featured-color-red);
    transition: all 150ms;
    display: inline-block;
}

.button.text-featured-yellow {
    color: var(--featured-color-yellow);
    border-color: var(--featured-color-yellow);
}

.button.text-featured-green {
    color: var(--featured-color-green);
    border-color: var(--featured-color-green);
}

.button.text-featured-blue {
    color: var(--featured-color-blue);
    border-color: var(--featured-color-blue);
}

.button:hover {
    background-color: var(--featured-color-red);
    color: var(--base-color);
}

.button.text-featured-yellow:hover {
    background-color: var(--featured-color-yellow);
    color: var(--base-color);
}

.button.text-featured-green:hover {
    background-color: var(--featured-color-green);
    color: var(--base-color);
}

.button.text-featured-blue:hover {
    background-color: var(--featured-color-blue);
    color: var(--base-color);
}

