/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

a {
    text-decoration: none;
}

p a {
    color:#5d8ea5;
}

p a:hover {
    border-bottom: 2px solid;
}

/* Crazy Grid Image/Text */
.col-h-1{grid-row: span 1 / span 1;}
.col-h-2{grid-row: span 2 / span 2;}
.col-h-3{grid-row: span 3 / span 3;}
.col-h-4{grid-row: span 4 / span 4;}
.col-h-5{grid-row: span 5 / span 5;}
.col-h-6{grid-row: span 6 / span 6;}

.col-w-1{grid-column: span 1 / span 1;}
.col-w-2{grid-column: span 2 / span 2;}
.col-w-3{grid-column: span 3 / span 3;}
.col-w-4{grid-column: span 4 / span 4;}
.col-w-5{grid-column: span 5 / span 5;}
.col-w-6{grid-column: span 6 / span 6;}

/* Typography */
body {
    font-family: "Poppins", sans-serif;
}

.featured-text { font-family: "Righteous", sans-serif; }
.accent-text { font-family: "Modak", serif;}

.fun-text-shadow-red {
    text-shadow: 
        #d16345 -5px 5px,
        #d67459 -10px 10px, 
        #db856e -15px 15px
}

.fun-text-shadow-blue {
    text-shadow: 
        #4a7285 5px 5px,
        #538096 10px 10px, 
        #5d8ea5 15px 15px
}

.fun-text-shadow-yellow {
    text-shadow: 
        #f5ba5b 5px 5px,
        #f6c473 10px 10px, 
        #f8ce8b 15px 15px
}

.fun-text-shadow-green {
    text-shadow: 
        #858d77 5px 5px,
        #919985 10px 10px, 
        #9ea593 15px 15px
}

/* Dropdown styles */

.dropdown { 
    position: relative; 
    display: inline-block;
  }
  
  .dropdown-title {
    padding: 0.5rem 1rem;
    display: inline-block;
  }

  .dropdown-title:hover {
    background-color: var(--featured-color-red);
    color: var(--base-color);
  }
  
  .dropdown-content {
    position: absolute;
    top: 80%;
    left: -1rem;
    padding: 0.5rem;
    display:none; 
    background-color: var(--base-color);
    z-index: 3;
    text-align: left;
    min-width: 12rem;
  }
  
  .dropdown:hover .dropdown-content{ 
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 0.2rem;
  }

  .dropdown-content a:hover {
    background-color: var(--featured-color-red);
    color: var(--base-color);
  }

/* Shadow classes */

.card-shadow {
    box-shadow: var(--featured-color-red) 10px 10px;
    transition: all;
}

.card-shadow:hover {
    box-shadow: var(--featured-color-red) 15px 15px;
}

.card-shadow.bg-featured-red {
    box-shadow: #d67459 10px 10px;
    transition: all;
}

.card-shadow.bg-featured-red:hover {
    box-shadow: #d67459 15px 15px;
}

.card-shadow.bg-featured-yellow {
    box-shadow: #f6c473 10px 10px;
    transition: all;
}

.card-shadow.bg-featured-yellow:hover {
    box-shadow: #f6c473 15px 15px;
}

.card-shadow.bg-featured-green {
    box-shadow: #919985 10px 10px;
    transition: all;
}

.card-shadow.bg-featured-green:hover {
    box-shadow: #919985 15px 15px;
}

.card-shadow.bg-featured-blue {
    box-shadow: #538096 10px 10px;
    transition: all;
}

.card-shadow.bg-featured-blue:hover {
    box-shadow: #538096 15px 15px;
}

/* Reuseable Button Styles */

.button {
    font-family: "Righteous", sans-serif;
    color: var(--featured-color-red);
    text-transform: uppercase;
    box-shadow:
        var(--featured-color-red) 3px 3px;
    transition: all 150ms;
    display: inline-block;
    font-family: "Righteous", sans-serif;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--featured-color-red);
}

.button.text-featured-yellow {
    color: var(--featured-color-yellow);
    border-color: var(--featured-color-yellow);
    box-shadow:
        var(--featured-color-yellow) 3px 3px;
}

.button.text-featured-green {
    color: var(--featured-color-green);
    border-color: var(--featured-color-green);
    box-shadow:
        var(--featured-color-green) 3px 3px;
}

.button.text-featured-blue {
    color: var(--featured-color-blue);
    border-color: var(--featured-color-blue);
    box-shadow:
        var(--featured-color-blue) 3px 3px;
}

.button.text-base-color {
    color: var(--base-color);
    border-color: var(--base-color);
    box-shadow:
        var(--base-color) 3px 3px;
}

.button:hover,
.text-featured-color-red.button.active {
    box-shadow:
    var(--featured-color-red) -3px 3px,
    var(--featured-color-red) 3px -3px,
    var(--featured-color-red) -3px -3px,
    var(--featured-color-red) 3px 3px;
    background-color: var(--featured-color-red);
    color: var(--base-color);
    border: 3px 3px;
}

.button:hover,
.text-base-color.button.active {
    box-shadow:
    var(--base-color) -3px 3px,
    var(--base-color) 3px -3px,
    var(--base-color) -3px -3px,
    var(--base-color) 3px 3px;
    background-color: var(--base-color);
    color: var(--featured-color-blue);
    border: 3px 3px;
}

.button.text-featured-red:hover {
    box-shadow:
    var(--featured-color-red) -3px 3px,
    var(--featured-color-red) 3px -3px,
    var(--featured-color-red) -3px -3px,
    var(--featured-color-red) 3px 3px;
    background-color: var(--featured-color-red);
    color: var(--base-color);
    border: 3px 3px;
}

.button.text-featured-yellow:hover {
    box-shadow:
    var(--featured-color-yellow) -3px 3px,
    var(--featured-color-yellow) 3px -3px,
    var(--featured-color-yellow) -3px -3px,
    var(--featured-color-yellow) 3px 3px;
    background-color: var(--featured-color-yellow);
    color: var(--base-color);
    border: 3px 3px;
}

.button.text-featured-green:hover {
    box-shadow:
    var(--featured-color-green) -3px 3px,
    var(--featured-color-green) 3px -3px,
    var(--featured-color-green) -3px -3px,
    var(--featured-color-green) 3px 3px;
    background-color: var(--featured-color-green);
    color: var(--base-color);
    border: 3px 3px;
}

.button.text-featured-blue:hover {
    box-shadow:
    var(--featured-color-blue) -3px 3px,
    var(--featured-color-blue) 3px -3px,
    var(--featured-color-blue) -3px -3px,
    var(--featured-color-blue) 3px 3px;
    background-color: var(--featured-color-blue);
    color: var(--base-color);
    border: 3px 3px;
}

.button.text-base-color:hover {
    box-shadow:
    var(--base-color) -3px 3px,
    var(--base-color) 3px -3px,
    var(--base-color) -3px -3px,
    var(--base-color) 3px 3px;
    background-color: var(--base-color);
    color: var(--featured-color-blue);
    border: 3px 3px;
}

/* No scroll bar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


