<section id="section-{{forloop.index}}">
  <footer class="max-width mx-auto">

  <!-- Actual content starts here, so that the above has the max width -->
  <div class="flex justify-between p-4 px-8 text-featured-red">
    <div class="content-center">
      <a href="#"><i class="fa-brands fa-square-instagram text-xl p-2"></i></a>
      <a href="#"><i class="fa-brands fa-square-pinterest text-xl p-2"></i></a>
      <a href="#"><i class="fa-brands fa-tiktok text-xl p-2"></i></a>
    </div>

    <div >
      <a href="/index.html" class="accent-text text-4xl">Adventure AlUla</a>
    </div>
  </div>

  <!-- Don't delete the below; these are for the starting id and class above -->
</footer>
</section>