<section id="section-{{forloop.index}}">
  <header class="max-width mx-auto">

  <!-- Actual content starts here, so that the above has the max width -->
  <nav class="flex justify-between p-4 px-8 text-featured-red">
    <div class="">
      <a href="/index.html" class="accent-text text-4xl">Logo</a>
    </div>

    <div class="hidden md:block featured-text uppercase text-sm">
      <a href="#" class="p-2 px-4 border-2 border-b-4 border-r-4 border-featured-red my-4">Experiences</a>
      <a href="#" class="p-2 px-4 border-2 border-b-4 border-r-4 border-featured-red my-4">Packages</a>
      <a href="#" class="p-2 px-4 border-2 border-b-4 border-r-4 border-featured-red my-4">Travel Tips</a>
    </div>

    <div class="featured-text">
      <a href="#" class="p-2 px-4 border-2 border-b-4 border-r-4 border-featured-red my-4">Contact</a>
    </div>

  </nav>

  <!-- Don't delete the below; these are for the starting id and class above -->
</header>
</section>