<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">

  <!-- Actual content starts here, so that the above has the max width -->
  <nav class="relative flex flex-col justify-between p-4 px-8">
    <div class="relative">
      <a href="/index.html" class="accent-text 2xl">Logo</a>
    </div>

    <div class="hidden md:block relative">
      <a href="#">Experiences</a>
      <a href="#">Packages</a>
      <a href="#">Travel Tips</a>
    </div>

    <div class="relative">
      <a href="#">Contact</a>
    </div>

  </nav>

  <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>