<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto py-16">
    <!-- Actual content starts here, so that the above has the max width -->

    {% if block.section-heading %}

    <h2
      class="px-8 sm:px-16 featured-text font-bold text-featured-red text-5xl"
    >
      {{block.section-heading}}
    </h2>

    {% endif %}
    
    <div class="p-8 sm:px-16">
      <ul class="border-featured-blue border-2">
        {% for item in site.data.faqs.questions %} 
        {% if item.pages contains block.faq-filter %}
        <li class="relative border-b border-featured-blue" x-data="{selected:null}">
          <button
            type="button"
            class="w-full px-8 py-6 text-left"
            @click="selected !== {{forloop.index}} ? selected = {{forloop.index}} : selected = null">
            <div class="flex items-center justify-between">
              <span class="font-semibold text-xl">{{item.question}}</span>
              <span x-bind:class="selected == {{forloop.index}} ? 'inline' : 'hidden' ">-</span>
              <span x-bind:class="selected == {{forloop.index}} ? 'hidden' : 'inline' ">+</span>
            </div>
          </button>

          <div
            class="relative overflow-hidden transition-all max-h-0 duration-700"
            style=""
            x-ref="container{{forloop.index}}"
            x-bind:style="selected == {{forloop.index}} ? 'max-height: ' + $refs.container{{forloop.index}}.scrollHeight + 'px' : ''">
            <div class="pb-6 px-8">
              <p>{{item.answer_html}}</p>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
  
      </ul>
    </div>

    <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>
