<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">
  
  <!-- Actual content starts here, so that the above has the max width -->

  <div class="grid grid-cols-2 gap-12 px-8 sm:px-16 py-24 bg-featured-blue text-base-color">
    <!-- Large Text -->
    <h3 class="featured-text text-5xl font-extrabold tracking-wide {% if block.large-text-width == 'full' %} col-span-2 {% elsif block.large-text-width == 'half' %} col-span-2 md:col-span-1 {% endif %}">{{block.heading}}</h3>

    <!-- Paragraphs -->
    <div class="{% if block.paragraph-width == 'full' %} col-span-2 {% elsif block.paragraph-width == 'half' %} col-span-2 md:col-span-1 {% endif %} {% if block.large-text-placement == 'right' %} md:order-first {% endif %}">
      {% if block.text-1 %}
        <p class="pb-4">{{block.text-1}}</p>
      {% endif %}

      {% if block.text-2 %}
        <p class="pb-4">{{block.text-2}}</p>
      {% endif %}

      {% if block.text-3 %}
        <p class="pb-4">{{block.text-3}}</p>
      {% endif %}

      <!-- Buttons -->
      <div class="pt-4">
        {% if block.button-1-link and block.button-1-text %}
        <a href="{{block.button-1-link}}" class="p-4 relative button-1 {{block.button-1-bg}}">{{block.button-1-text}}</a>
        {% endif %}

        {% if block.button-2-link and block.button-2-text %}
        <a href="{{block.button-2-link}}" class="p-4 relative button-2 {{block.button-2-bg}}">{{block.button-2-text}}</a>
        {% endif %}
      </div>

    </div>
  
  </div>


  <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>

