<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">
  
  <!-- Actual content starts here, so that the above has the max width -->


  <!-- Full Screen Info Card -->
  <div class="min-h-screen grid md:grid-cols-2">
    <!-- md:h-full on the div negates the h-72, h-full on the image is still needed because of the position absolute -->
    <div class="grow relative h-72 md:h-full"> 
      <img class="absolute w-full h-full object-cover object-center" style="object-position: {{item.image-horizontal-focal-point}}  {{item.image-vertical-focal-point}}" src="{{item.image}}" alt="{{item.alt}}">
    </div>
    <!-- Text -->
    <div class="p-8 sm:p-16 col-span-1 pr-12 self-start {% if item.image-placement == 'right' %} md:order-first {% endif %}">
      <div>
        <h2 class="featured-text text-4xl">{{item.heading}}</h2>
        {% for index in (1..item.star-count) | limit:5 %}
          <i class="py-4 fa-solid fa-star text-featured-yellow"></i>
        {% endfor %}
        <p class="py-2 uppercase">{{item.age-range}} | {{item.category}}</p>
        <p class="pb-4">{{item.text}}</p>

        <!-- List of included features -->
        <div class="pb-2">
          <p class="font-semibold pb-2">Included:</p>
          {% for item in item.included-loop %}
            {% if item.text %}
            <ol class="pb-1">
              <li><span class="text-featured-green">✔ </span>{{item.text}}</li>
            </ol>
            {% endif %}
          {% endfor %}
        </div>

        <!-- List of not included features -->
        <div class="pb-2">
          <p class="font-semibold pb-2">Not included:</p>
          {% for item in item.not-included-loop %}
            {% if item.text %}
            <ol class="pb-1">
              <li><span class="text-featured-red">✘ </span>{{item.text}}</li>
            </ol>
            {% endif %}
          {% endfor %}
        </div>

        <!-- Price -->
        <div class="text-3xl font-bold text-right">{{item.price}}</div>

      </div>

    </div>
  </div>

    <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>