<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">
  
  <!-- Actual content starts here, so that the above has the max width -->

  <section class="flex flex-col grow relative justify-center min-h-[60vh] {{block.section-color}}">

    {% if item.image %}
    <img class="absolute object-cover h-full w-full inset-y-0 right-0" src="{{block.image}}" alt="{{block.alt}}" style="object-position: {{block.image-horizontal-focal-point}} {{block.image-vertical-focal-point}}">
    {% endif %}
  
    <h1 class="relative w-full text-6xl sm:text-[max(14.75vw,_5rem)] featured-text font-extrabold text-center text-base-color fun-text-shadow-rainbow">{{block.heading}}</h1>


    {% if item.button-link and item.button-text %}
    <a href="{{block.button-link}}" class="p-4 px-8 relative font-bold text-right text-featured-blue">{{block.button-text}}</a>
    {% endif %}
    
  </section>

  <!-- Don't delete the below; these are for the starting id and class above -->
</div>
</section>