<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">
   <!-- Actual content starts here, so that the above has the max width -->
 
 
  <section class="px-8 py-32 sm:px-16 md:flex md:flex-row gap-16 text-center bg-featured-green text-base-color">
    {% for item in block.info-loop %}
    <div class="py-14 md:py-0 md:min-h-80">
        <i class="pb-4 fa-solid {{item.icon}} text-5xl justify-center w-full"></i>
        <h4 class="py-2 uppercase featured-text font-bold text-2xl">{{item.heading}}</h4>
        <p class="">{{item.text}}</p>
    </div>
    {% endfor %}
  </section>
 
 
  <!-- Don't delete the below; these are for the starting id and class above -->
 </div>
 </section>