<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">
  
  <!-- Actual content starts here, so that the above has the max width -->

  <div class="p-8 sm:px-16 py-10 flex flex-col relative left-[30vw] w-[70vw]">
    <h3 class="flex featured-text text-5xl text-featured-blue relative pb-6">{{block.heading}}</h3>

    {% for item in block.link-loop %}
      <p class=""><i class="fa-solid fa-caret-right text-lg"></i> {{item.text}} <a href="{{item.link}}" class=" text-featured-blue underline font-semibold"> {{item.link-text}} </a></p>
      
    {% endfor %}

  </div>


  <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>