<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">

    <!-- Actual content starts here, so that the above has the max width -->
    <div class="grid gap-2 min-h-screen">

      {% for col in block.columns %}

        {% include /grid/{{col.type}}.html %}

      {% endfor %}
    </div>

  </div>
</section>

<!-- Special inline style to put the column count liquid tag into the front matter -->
<style>

  #section-{{forloop.index}} .grid{
    grid-template-columns: repeat({{block.column-count}}, minmax(0, 1fr));
  }
  
</style>