<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">
  
<!-- Actual content starts here, so that the above has the max width -->

<!-- Cards Section -->
<div class="py-24 bg-featured-yellow">

  {% if block.section-heading %}

  <h2 class="px-8 sm:px-16 featured-text text-4xl">{{block.section-heading}}</h2>

  {% endif %}

  <div class="gap-6 p-16 pt-6 {% if items.size > 3 %} flex overflow-x-auto w-full {% else %} grid md:grid-cols-3 {% endif %}">

    {% for item in block.card-loop %}

      <!-- Card Loop -->
      <div class="{% if items.size > 3 %} basis-[30%] shrink-0 {% endif %} card-shadow bg-base-color">
        <a href="{{item.url}}">
          <div class="">
            <img class="aspect-square object-cover w-full" src="{{item.image}}" alt="{{item.alt}}">
          </div>
          <div class="p-2">
            <h3 class="featured-text p-2 pb-0 text-2xl">{{item.heading}}</h3>
            <p class="p-2">
              {% if item.ticket-needed == true %} <i class="fa-solid fa-ticket"></i> ticket needed |{% endif %} 
              {% if item.pets-allowed == true %} <i class="fa-solid fa-paw"></i> allowed |{% endif %} 
              {% if item.accessible == true %} <i class="fa-brands fa-accessible-icon"></i> accessible |{% endif %}
              {% if item.family-friendly == true %} <i class="fa-solid fa-person-breastfeeding"></i> family-friendly{% endif %} </p>

          </div>
        </a>
      </div>
    
    {% endfor %}

  </div>
  
</div>

  <!-- Don't delete the below; these are for the starting id and class above -->
</div>
</section>