<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">
  
<!-- Actual content starts here, so that the above has the max width -->

<!-- Cards Section -->
<div class="py-24 bg-featured-yellow">

  {% if block.section-heading %}

  <h2 class="px-8 sm:px-16 featured-text text-4xl">{{block.section-heading}}</h2>

  {% endif %}

  <div class="px-8 sm:px-16 gap-8 pt-12 pb-4 flex overflow-x-auto w-full no-scrollbar">

    {% for item in block.card-loop %}

      <!-- Card Loop -->
      <div class="basis-[90%] sm:basis-[80%] md:basis-[30%] shrink-0 card-shadow bg-base-color">
        <a href="{{item.url}}">
          <div class="">
            <img class="aspect-square object-cover w-full" src="{{item.image}}" alt="{{item.alt}}">
          </div>
          <div class="p-2">
            <h3 class="featured-text p-2 pb-0 text-2xl">{{item.heading}}</h3>
            <p class="p-2">
              {% for icon in item.icons %}
              {% if icon.ticket-needed == true %} <span class="inline-block"> <i class="fa-solid fa-ticket"></i> ticket needed {% endif %} 
              {% if icon.pets-allowed == true %} <i class="fa-solid fa-paw"></i> allowed {% endif %} 
              {% if icon.accessible == true %} <i class="fa-brands fa-accessible-icon"></i> accessible {% endif %}
              {% if icon.family-friendly == true %} <span class="inline-block"> <i class="fa-solid fa-person-breastfeeding"></i> family friendly</span>{% endif %} 
            {% unless forloop.last  %} | {% endunless %}
            {% endfor %}
            </p>

          </div>
        </a>
      </div>
    
    {% endfor %}

  </div>
  
</div>

  <!-- Don't delete the below; these are for the starting id and class above -->
</div>
</section>