---
layout: default
---
<!-- Header -->
<section class="flex relative items-center min-h-[60vh]">
  <img class="absolute object-cover h-full w-full inset-y-0 right-0" src="{{page.image}}" alt="{{page.alt}}" style="object-position: {{page.image-horizontal-focal-point}}  {{page.image-vertical-focal-point}}">
  <h1 class="relative w-full text-[max(14.75vw,_5rem)] featured-text font-extrabold text-center text-base-color fun-text-shadow-blue">{{page.heading}}</h1>
</section>

<!-- Main Info Section -->
<section class="p-8 md:px-16">
  <h2 class="featured-text text-4xl text-center">{{page.intro-title}}</h2>
  <p class="py-4 uppercase text-center featured-text text-featured-red">{{page.duration}} | {{page.category}} | {{page.age-range}}</p>
  <p class="pb-4">{{page.text}}</p>

  <!-- List of included features -->
  <div class="pb-2">
    <p class="font-semibold pb-2">Included:</p>
    {% for item in page.included-loop %}
      {% if item.text %}
      <ol class="pb-1">
        <li><span class="text-featured-green">✔ </span>{{item.text}}</li>
      </ol>
      {% endif %}
    {% endfor %}
  </div>

  <!-- List of not included features -->
  <div class="pb-2">
    <p class="font-semibold pb-2">Not included:</p>
    {% for item in page.not-included-loop %}
      {% if item.text %}
      <ol class="pb-1">
        <li><span class="text-featured-red">✘ </span>{{item.text}}</li>
      </ol>
      {% endif %}
    {% endfor %}
    
  </div>
  <!-- Price -->
  <div class="text-3xl font-bold">{{page.price}}</div>

</section>

<section>
  {% for item in page.timeline-loop %}
  <!-- Single activity block -->
  <div class="bg-featured-blue min-h-[50vh] grid grid-cols-2">
    <!-- Image -->
    <div class="col-span-1 grow relative h-72 m-16"> 
      <img class="absolute w-full h-full object-cover object-center" style="object-position: {{item.image-horizontal-focal-point}} {{item.image-vertical-focal-point}}" src="{{item..image}}" alt="{{item..alt}}">
    </div>
    <!-- Description -->
    <div class="text-base-color grid grid-cols-3 m-10 content-center">
      <div class="col-span-2">
        <p class="text-sm uppercase">{{item.time}}</p>
        <p class="text-xl font-semibold uppercase">{{item.name}}</p>
        <p class="">{{item.description}}</p>
      </div>
    </div>
  </div>
  {% endfor %}

</section>