---
layout: default
---
<!-- Header -->
<section class="flex relative items-center min-h-[60vh]">
  <img class="absolute object-cover h-full w-full inset-y-0 right-0" src="{{page.image}}" alt="{{page.alt}}" style="object-position: {{page.image-horizontal-focal-point}}  {{page.image-vertical-focal-point}}">
  <h1 class="relative w-full text-6xl sm:text-[max(14.75vw,_5rem)] featured-text font-extrabold text-center text-base-color fun-text-shadow-blue">{{page.heading}}</h1>
</section>

<!-- Main Info Section -->
<section class="p-8 md:px-16">
  <h2 class="featured-text text-4xl text-center">{{page.intro-title}}</h2>
  <p class="py-4 uppercase text-center featured-text text-featured-red">{{page.duration}} | {{page.category}} | {{page.age-range}}</p>
  <p class="pb-4">{{page.text}}</p>

  <!-- List of included features -->
  <div class="pb-2">
    <p class="font-semibold pb-2">Included:</p>
    {% for item in page.included-loop %}
      {% if item.text %}
      <ol class="pb-1">
        <li><span class="text-featured-green">✔ </span>{{item.text}}</li>
      </ol>
      {% endif %}
    {% endfor %}
  </div>

  <!-- List of not included features -->
  <div class="pb-2">
    <p class="font-semibold pb-2">Not included:</p>
    {% for item in page.not-included-loop %}
      {% if item.text %}
      <ol class="pb-1">
        <li><span class="text-featured-red">✘ </span>{{item.text}}</li>
      </ol>
      {% endif %}
    {% endfor %}
    
  </div>
  <!-- Price -->
  <div class="text-3xl font-bold text-right">{{page.price}}</div>

</section>

<!-- Highlights Section -->
<section class="p-8 pr-0 sm:pr-0 sm:p-16">
  <h3 class="featured-text text-3xl pb-4">Highlights</h3>
  <div class="flex overflow-x-auto gap-4">

    {% for item in page.highlights-loop %}
    <div class="relative flex items-end aspect-[3/4] basis-1/3 flex-shrink-0 group">
      <img class="absolute inset-0 object-cover w-full h-full" src="{{item.image}}" alt="{{item.alt}}">
      <div class="m-4 p-2 px-3 bg-base-color relative w-auto group-hover:w-4/5 transition-all transition-150ms">
        <p class="featured-text font-semibold">{{item.name}}</p>
        <p class="hidden group-hover:block text-sm">{{item.text}}</p>
      </div>
    </div>
    {% endfor %}

  </div>
</section>


<!-- Timeline Section -->
<section class="py-12 bg-featured-blue">
  <h3 class="text-3xl text-center text-base-color featured-text">Timeline of the activity</h3>
  {% for item in page.timeline-loop %}
  <!-- Single activity block -->
  <div class="grid grid-cols-2">
    <!-- Image -->
    {% if item.image %}
    <div class="col-span-1 grow relative h-72 ml-0 m-8 md:m-12"> 
      <img class="absolute w-full h-full object-cover object-center" style="object-position: {{item.image-horizontal-focal-point}} {{item.image-vertical-focal-point}}" src="{{item.image}}" alt="{{item.alt}}">
    </div>
    {% else %}
    <div></div>
    {% endif %}

    <!-- Description -->
    <!-- This first if statement is what makes the first and last borders transparent -->
    <div class="relative text-base-color grid grid-cols-3 content-center py-4 border-l-2 {% if forloop.index == 1 or forloop.index == page.timeline-loop.size %} border-l-transparent {% else %} border-base-color {% endif %}">
      <!-- This if statement is setting the top half or bottom half border of the first and last containers -->
      <span class="absolute -left-[2px] {% if forloop.index == page.timeline-loop.size %} bottom-1/2 top-0 {% else %} bottom-0 top-1/2 {% endif %} border-l-2 border-base-color "></span>
      <div class="relative col-span-full lg:col-span-2 px-8 md:px-12"> 
        <!-- This if statement is used to start the line at first conent and end at the last block (basically drawing blue over the white) -->
        <span class="absolute -left-[2px] inset-y-0 border-l-2 {% if forloop.index == page.timeline-loop.size %} border-featured-blue {% else %} border-base-color {% endif %}"></span> 
        <!-- THis span is for the dot -->
        <span class="absolute -left-[7px] top-0 h-3 w-3 border-base-color bg-base-color rounded-full"></span>
        <p class="text-sm uppercase">{{item.time}}</p>
        <p class="text-base sm:text-xl font-semibold uppercase">{{item.name}}</p>
        <p class="text-sm sm:text-base">{{item.description}}</p>
      </div>
    </div>
  </div>
  {% endfor %}

</section>